<div class="container">
    <div class='row'>
      <h3>Institute post</h3>
    <form action="/admin/addinstitute" method="POST" >
           <div class="form-group">
               <label for="title">Name</label>
               <input type="text" class="form-control" name="instituteName" required>
           </div>
           <div class="form-group">
               <label for="details">InstituteType</label>
               <textarea class="form-control" name="instituteType" required></textarea>
           </div>
            <div class="form-group">
               <label for="title">institute_id</label>
               <input type="text" class="form-control" name="institute_id" required>
           </div>
           <div class="form-group">
               <label for="title">Email</label>
               <input type="text" class="form-control" name="email" required>
           </div>
            <div class="form-group">
               <label for="title">Phone</label>
               <input type="text" class="form-control" name="phone" required>
           </div>
              <button class="btn btn-primary mt-2">submit</button>
    </form>
    </div>
   
     <hr>
</div>

<div class='container'>
    <div class='row'>
        <h3>course post</h3>
          <form action="/institute/addcourse" method="POST" >
           <div class="form-group">
               <label for="title">CourseId</label>
               <input type="text" class="form-control" name="course_id" required>
           </div>
           <div class="form-group">
               <label for="details">InstituteId</label>
               <textarea class="form-control" name="institute_id" required></textarea>
           </div>
            <div class="form-group">
               <label for="title">coursename</label>
               <input type="text" class="form-control" name="course_name" required>
           </div>
           <div class="form-group">
               <label for="title">Class</label>
               <input type="text" class="form-control" name="classs" required>
           </div>
            <div class="form-group">
               <label for="title">desc</label>
               <input type="text" class="form-control" name="course_desc" required>
           </div>
              <button class="btn btn-primary mt-2">submit</button>
    </form>
    </div>
   <hr>
</div>

<div class='container'>
    <div class='row'>
        <h3>student post</h3>
          <form action="/institute/addstudent" method="POST" >
           <div class="form-group">
               <label for="title">UserId</label>
               <input type="text" class="form-control" name="user_id" required>
           </div>
           <div class="form-group">
               <label for="details">InstituteId</label>
               <textarea class="form-control" name="institute_id" required></textarea>
           </div>
            <div class="form-group">
               <label for="title">studentid</label>
               <input type="text" class="form-control" name="student_id" required>
           </div>
           <div class="form-group">
               <label for="title">Name</label>
               <input type="text" class="form-control" name="name" required>
           </div>
            <div class="form-group">
               <label for="title">phone</label>
               <input type="text" class="form-control" name="phone" required>
           </div>
            <div class="form-group">
               <label for="title">email</label>
               <input type="text" class="form-control" name="email" required>
           </div>
            <div class="form-group">
               <label for="title">Profile</label>
               <input type="text" class="form-control" name="profile" required>
           </div>
              <button class="btn btn-primary mt-2">submit</button>
    </form>
    </div>
   <hr>
</div>

<div class='container'>
    <div class='row'>
        <h3>teacher post</h3>
          <form action="/institute/addteacher" method="POST" >
           <div class="form-group">
               <label for="title">UserId</label>
               <input type="text" class="form-control" name="user_id" required>
           </div>
           <div class="form-group">
               <label for="details">InstituteId</label>
               <textarea class="form-control" name="institute_id" required></textarea>
           </div>
            <div class="form-group">
               <label for="title">teacherid</label>
               <input type="text" class="form-control" name="teacher_id" required>
           </div>
           <div class="form-group">
               <label for="title">Name</label>
               <input type="text" class="form-control" name="name" required>
           </div>
            <div class="form-group">
               <label for="title">phone</label>
               <input type="text" class="form-control" name="phone" required>
           </div>
            <div class="form-group">
               <label for="title">email</label>
               <input type="text" class="form-control" name="email" required>
           </div>
            <div class="form-group">
               <label for="title">Type</label>
               <input type="text" class="form-control" name="type" required>
           </div>
              <button class="btn btn-primary mt-2">submit</button>
    </form>
    </div>
   <hr>
<hr>
</div>


